body{
<<<<<<< HEAD
background-image: url(https://giphy.com/gifs/matrix-binary-code-PTBVMsYIOB0SBP4MVe);
background-color: black;
=======
background-image: url(images/200w.gif.png);

>>>>>>> 641b75e2892415f73f3bc02347a5ff0818179796
}