@font-face {
    font-family: 'TrenchThin';
    src: url(font/TrenchThin-aZ1J.ttf);
}
@font-face {
    font-family: 'Alien';
    src: url(font/Alien.ttf);
}




h4{
    text-align: center;
    font-size: large;   
    font-family: 'TrenchThin';
    color: rgba(0, 243, 252, 0.788);
}

body{
    background-color: black
    ;
    
}

p{
    color: green;
    font-family: 'TrenchThin';
    font-size: large;
}
h3{
    color: magenta;
    font-family: 'TrenchThin';
    text-align: center;
    font-size: xx-large;
}
h5{
    color:magenta;
    font-family: 'TrenchThin';
    font-size: larger;
}
a{
    color:blueviolet;
    font-family: 'TrenchThin';
}
strong{
    color:crimson;
}

em{
  color: cadetblue;  
}